page-oppill {

	.item-list ion-label{
		white-space: normal;}
		
	.item-list ion-item {
	border-bottom: 0.55px solid #c8c7cc;
	}
	.list-ios > .item-block:first-child {
	border-top: 0;
	}
	.list-ios .item-block .item-inner {
	border-bottom: 0;}

	p{    
		font-size: 0.9em!important;
	line-height: 22px!important;}
	.item-inner p {
	font-weight: bold;}   


}
