page-home {// page-login Start 

	.logo, p{
		text-align:center } 

	h1, p {
		color:$white }
	
	button.btn-login,
	button.btn-signup{
		margin: 20px 0 0; }

	.logo img{
		max-width:80px; }


	
} // page-login End




