signup {
		
	.list .item-block:first-child  { 
		border-top: 0px; }
	
	.text-input-wp{    
		border: 2px solid $white;}

	.list-md > .item-block:first-child,
	.list-ios > .item-block:first-child {
		border-top:0px; }

	// form{margin:40px 0 0;}	
	
	
}
